@import "~materialize-css/dist/css/materialize.min.css";


body {
	margin: 0;
}

#root {
	display: flex !important;
	min-height: 100vh !important;
	flex-direction: column !important;
}

main {
	flex: 1 0 auto !important;
}

header, main, footer {
	padding-left: 300px;
}

.padding-left {
	padding-left: 30px;
}

.margin-custom {
	margin: 50px;
}

.cursor-pointer {
	cursor: pointer;
	user-select: none;
}

.vertical-align {
	vertical-align: middle;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #9c27b0 !important;
	box-shadow: 0 1px 0 0 #9c27b0 !important;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
	color: #9c27b0 !important;
}

.input-field .prefix.active {
	color: #9c27b0 !important;
}

@media only screen and (max-width: 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

